//Main styling
body {
  background-color: #0EBFDD;
  p {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
  }
  .team-page-title {
    p {
      margin-top: 5%;
      margin-bottom: 10%;
      text-align: center;
      font-size: 48px;
    }
  }
  .team-page-bio {
    img {
      display: block;
      margin: 0 auto;
    }
    p {
      text-align: center;
      margin: 0;
    }
    .bio-name {
      padding-top: 15px;
    }
    .bio-title {
      font-style: italic;
    }
  }
  .team-page-button {
    .work-here {
      display: block;
      margin: 7% auto 5%;
      padding: 10px 30px;
      font-size: 14px;
      font-weight: bold;
      border: 1px solid;
      border-radius: 25px;
      text-transform: uppercase;
      background-color: #0EBFDD;
      color: #FFFFFF;
      transition: color 0.5s, background-color 0.5s;
    }
    .work-here:hover {
      cursor: pointer;
      color: #0EBFDD;
      background-color: #FFFFFF;
    }
  }
}

// Styling for the bio grids
[class*='col-'] {
  float: left;
}
.col-1-3 {
  width: 33.33%;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

//For mobile view
@media screen and (max-width: 40em) {
  .col-1-3 {
    width: 100%;
  }
  .team-page-bio {
    img {
      padding-top: 5%;
    }
  }
}
