body {
  background-color: #0EBFDD;
  p {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
  }
  .team-page-title {
    p {
      text-align: center;
      font-size: 32px;
    }
  }
  .team-page-bio {
    img {
      margin: auto;
    }
    .bio-name {
      // text-align: center;
    }
    .bio-title {
      font-style: italic;
      // text-align: center;
    }
  }
  .team-page-button {
    .work-here {
      border: 1px solid;
      border-radius: 25px;
      text-transform: uppercase;
      background-color: #0EBFDD;
      color: #FFFFFF;
    }
  }
}

// Styling for the bio grids
[class*='col-'] {
  float: left;
}
.col-1-3 {
  width: 33.33%;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
